.App {
  min-height: 100vh;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.search-input {
  width: 50%;
  padding: 10px;
  border: none;
  box-shadow: 0px 1px 6px rgb(216, 216, 216);
}

.search-button {
  background-color: lightseagreen;
  border: 1px solid lightseagreen;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}